<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 p-5 text-center">
                <h3>Nome: XPTO lTDA</h3>
                <h3>Endereço: Polo Inovação UCB, DF</h3>
                <h3>Telefone: (61) 99999-9999</h3>
                <a href="/">Página Inicial</a>
            </div>
        </div>
    </div>
</body>
</html>