<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form action="/dados" method="post">
        <label for="nome">Nome: </label>
        <input type="text" id="nome" valor=""></input>
        <label for="endereco">Endereço: </label>
        <input type="text" id="endereco" valor=""></input>
        <label for="telefone">Telefone: </label>
        <input type="text" id="telefone" valor=""></input>
        <label for="data-agendamento">Data de agendamento: </label>
        <input type="text" id="data-agendamento" valor=""></input>
    </form>
</body>
</html>